*{
    margin: 0;
    padding: 0;
}

/* Shared style */
.section-area{
    width: 1040px;
    margin: 100px auto;
}
.title{
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
.description{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.808);
}
#white{
    color: white;
}
.center{
    text-align: center;
}
.btn{
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    background-color: rgb(253, 89, 29);
    border-radius: 10px;
    padding: 18px 36px;
    border: none;
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

/* Header section style */
.header-bg{
    height: 700px;
    background-image: url(../images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.347);
    background-blend-mode: overlay;
    align-items: center;
    justify-content: center;
}
.header-content{
    align-items: center;
    gap: 35px;
}
.header-title{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.header-description{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.808);
}

/* Donate today section style */
.donate-today{
    align-items: center;
    gap: 25px;
}
.amount-cards{
    gap: 30px;
}
.amount-card{
    background-color: rgba(211, 211, 211, 0.306);
    padding: 40px 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.amount-card h3{
    color: rgba(2, 2, 2, 0.726);
    font-size: 2rem;
}
#active{
    background-color: rgba(255, 182, 193, 0.498);
    border: 2px solid rgb(156, 59, 75);
}
#active-tk{
    color: rgb(172, 17, 43);
}
input{
    width: 20%;
    border: none;
    padding: 30px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.475);
    font-size: 1.4rem;
    
}
hr{
    width: 100%;
    color: lightgrey;
}
/* Responsive style */
@media screen and (max-width: 576px) {
    .header-content{
        padding: 20px;
    }
    .header-title{
        font-size: 2.1rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .description{
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.717);
    }
}
@media screen and (min-width: 576px) and (max-width: 792px) {
    .header-content{
        padding: 20px;
    }
    .header-title{
        font-size: 3.1rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .description{
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.717);
    }
}